---
layout: archive
---

I am an Assistant Professor (irakasle atxikia/ profesor adjunto) of Natural Language Processing in <a href="http://ixa.si.ehu.es/" style="color:#248a95">IXA Group</a>, part of the HiTZ Centre of the University of the Basque Country UPV/EHU.<br><br>

My research focuses on creating resources and NLP models for under-resourced languages and scenarios, including cross-lingual methods, weak supervision, multi-task learning, and domain adaptation. I have worked extensively on sentiment and emotion analysis.<br><br>

Previously, I was a postdoctoral fellow at the <a href="https://www.mn.uio.no/ifi/english/research/groups/ltg/" style="color:#248a95">Language Technology Group</a> at the University of Oslo, where I worked on creating sentiment resources and models for Norwegian (<a href="https://www.mn.uio.no/ifi/english/research/projects/sant/index.html" style="color:#248a95">SANT project</a>). Before that, I was a PhD student at <a href="https://www.upf.edu/" style="color:#248a95">Pompeu Fabra University</a> in Barcelona, working on cross-lingual sentiment analysis for under-resourced languages. During my PhD, I also spent a year at the University of Stuttgart on a research stay funded by the <a href="https://www.ims.uni-stuttgart.de/en/" style="color:#248a95">IMS</a>.

        <h3>
News:
        </h3>


<strong>12.21</strong> - I gave a keynote talk at <a href="https://aistconf.org/" style="color:#248a95">AIST 2021</a> on moving beyond sentence-level classification. <br>
<strong>10.21</strong> - I have accepted an assistant professor position at the University of the Basque Country UPV/EHU. <br>
<strong>9.21</strong> -  I will be co-organizing <a href="https://wassa-workshop.github.io" style="color:#248a95">WASSA 2022</a>. <br>
<strong>6.21</strong> -  I am the main organizer of the <a href="https://github.com/jerbarnes/semeval22_structured_sentiment" style="color:#248a95">SemEval-2022 shared task 10 on Structured Sentiment</a>. <br>






<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
