---
layout: archive
---

I am an Assistant Professor (irakasle atxikia/ profesor adjunto) of Natural Language Processing in IXA Group, part of the HiTZ Centre of the University of the Basque Country UPV/EHU.



        <h3>
News:
        </h3><br>

<strong>10.21</strong> - I have accepted an assistant professor position at the University of the Basque Country UPV/EHU <br>
<strong>9.21</strong> -  I will be co-organizing WASSA 2022. <br>
<strong>6.21</strong> -  I am the main organizer of the <a href="https://github.com/jerbarnes/semeval22_structured_sentiment">SemEval-2022 shared task 10 on Structured Sentiment</a>. <br>



        <h3>
            Research interests:
        </h3><br>

My research focuses on creating resources and NLP models for under-resourced languages and scenarios, including cross-lingual methods, weak supervision, multi-task learning, and domain adaptation. I have worked extensively on sentiment and emotion analysis.<br>


<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
